# ======================
# R and RStudio files
# ======================
.Rhistory
.RData
.Ruserdata
.Rproj.user
# *.Rproj
*.Rmd~
*.html
*.pdf

# ======================
# renv directories
# ======================
renv/library/
renv/staging/
renv/python/
renv/local/

# ======================
# Session and temporary files
# ======================
.httr-oauth
.DS_Store
.quarto
*.o
*.so
*.dll
*.log
*.aux
*.out

# ======================
# Large files
# ======================
*.qs
*.json

# ======================
#  Python Artifacts
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.env
.envrc
.conda/
env/


.positai
